<style>
  /* Define the styles for the custom button */
  .custom-button {
    background-color: #007bff; /* Background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding around text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show a hand cursor on hover */
    font-size: 16px; /* Font size */
  }

  /* Style the button on hover */
  .custom-button:hover {
    background-color: #0056b3; /* Darker background color on hover */
  }

  /* Style the button on active (when clicked) */
  .custom-button:active {
    background-color: #003f80; /* Even darker background color on click */
  }
</style>
<section id="doctors" class="doctors">
  <br /><br />
  <br /><br />

  <div class="container">
    <div class="section-title">
      <h2>Doctors</h2>
      <p>
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
        aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
        quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
        sit in iste officiis commodi quidem hic quas.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6" *ngFor="let doctor of medecins">
        <div class="member d-flex align-items-start">
          <div class="pic">
            <img class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>{{ doctor.prenom }} {{ doctor.nom }}</h4>
            <span>{{ doctor.specialite }}</span>
            <p>{{ doctor.adresse }}</p>
            <div class="social">
              {{ doctor.tel }}
            </div>
            <br /><br />

            <button
              type="submit"
              class="custom-button"
              [routerLink]="['/frontoffice/rdv/', doctor.medecinId]"
            >
              Make an Appointment
            </button>
            <button
              type="submit"
              class="custom-button"
              [routerLink]="['/frontoffice/listrdv/', doctor.medecinId]"
            >
              List appointments
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Doctors Section -->
