
<br><br><br><br><br><br>

<div class="center-form-container">
  <div class="centered-form">
    <div class="search-box">
      <input type="text" [(ngModel)]="searchTitle" placeholder="Rechercher par titre...">
      <button (click)="searchReclamations(searchTitle)">Rechercher</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th class="name"><p>Titre</p></th>
          <th class="contract"><p>Date Soumission</p></th>
          <th class="keywords"><p>Description</p></th>
          <th class="action" colspan="2"><p>Action</p></th> <!-- Colspan attribute added -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of reclamations">
          <td class="name">
            <h5 class="job_name">{{ item.title }}</h5>
          </td>
          <td class="contract">
            <p><i class="fa fa-clock-o"></i> {{ item.dateSoumission }}</p>
          </td>
          <td class="keywords">
            <p>{{ item.description }}</p>
          </td>
          <td class="action">
            <button class="btn btn-secondary" [routerLink]="['/backoffice/reponse', item.id]">Répondre</button>
          </td>
          <td class="action">
            <button class="btn btn-secondary" [routerLink]="['/backoffice/afff', item.id]">Voir reponse</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
