<section id="doctors" class="doctors">
  <div class="container">
    <div class="section-title">
      <br>
      <br>
      <br>
      <br>
      <h2>Products</h2>

      <form class="">
        <div class="form-group mt-6 d-flex align-items-center">
          <input type="text" class="form-control" name="searchText" placeholder="Rechercher des produits" [(ngModel)]="searchavalue">
          <span>&nbsp; &nbsp;</span>
          <button type="submit" class="btn btn-primary ml-2" (click)="filtrer()">Filtrer</button>
        </div>
      </form>


    </div>

    <div class="row" *ngFor="let item of listproduit">
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic">
            <img
              src="assets/img/doctors/doctors-1.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>{{item.nom}}</h4>
            <span>Description :</span>
            <p>{{item.description}}</p>
            <br>
<br>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Commander</button>
          </div>
        </div>

        </div>
      </div>


    </div>
  </div>
</section>
<!-- End Doctors Section -->
